header, nav, main {
    max-width: 960px;
    margin: auto;
}

    #navWrapper {
    position: relative;
    height: 50px;
}
nav {
    background-color: white;
}


/* NAVIGATION STUFF GOES HERE  */
#hamburgerBtn {
    display: none;
}

#primaryNav {display: flex;}


#primaryNav {justify-content: end;}

#cardsWrapper {
    .card {
        flex-basis: 18%;
        margin: 1rem;
    }
}

.hero {

    div {
        top: 70%;
        bottom: 0px;
        left: 0px;
        right: 0px;
        color: white;
        background: linear-gradient(360deg,rgba(0, 0, 0, .4) 50%, rgba(0, 0, 0, 0) 100%);
        padding: 2rem;
        text-align: center;
    }

}