/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*  Apply a natural box layout model to all elements  */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} // end all elements


/* --------------------------- BODY --------------------------- */
body {
    font-family: $defaultFont;
    font-weight: $lightWeight;
    min-width: 320px;
    max-width: 100%;
}


/* --------------------------- HEADER --------------------------- */
#headerWrapper {border-bottom: 1px solid $greyColor;}
header {
    display: grid;
    grid-template-columns: 50px auto 44px;
    column-gap: $gutter;
    align-items: center; //vertically
    padding: .5rem $gutter;
    span {
        font-size: 1.6rem;
        font-family: $headFont;
        color: $primaryColor;
    }
    p {
        margin: 0;
        font-size: .8rem;
        color: rgb(61, 61, 61);
    }
} // end header


/* --------------------------- NAVIGATION STUFF GOES HERE --------------------------- */
#hamburgerBtn {
    position: relative;
    height: 44px;
    width: 44px;
    cursor: pointer;
    
    .top, .bottom {
        position: absolute;
        height: 2px;
        background-color: #777;
        width: 50%;
        left: 25%;
        transition: all .3s ease;
    }

    .top {
        top: 33%;
    }
    .bottom {
        top: 62%;
    }
}

#hamburgerBtn.open {
    .top {
        transform: rotate(45deg);
        top: 48%;
        width: 60%;
        left: 20%;
    }
    .bottom {
        transform: rotate(-45deg);
        top: 48%;
        width: 60%;
        left: 20%;
    }
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
    li a {
        color: $primaryColor;
        display: block;
        padding: .75rem $gutter;
        text-decoration: none;
        border-bottom: 1px solid $greyColor;
    }
    li.active a {
        color: $secondaryColor;
    }
}

nav ul.open {
    display: block;
}










/* --------------------------- MAIN --------------------------- */
main {
    h1 {
        padding: 1rem $gutter.5rem $gutter;
        font-size: 2rem;
        font-family: $headFont;
        text-align: center;
    }
    h2 {
        padding: 1rem $gutter;
    }
    p {
        padding: .5rem $gutter;
        color: rgb(24, 24, 24);
        line-height: $leading;
        text-align: center;
    }
}// end main

.hero {
    position: relative;
    video {
        width: 100%;
        height: auto;
    }
    div {
        position: absolute;
        top: 0px;
        right: 0px;
        left: 0px;
        color: white;
        background: linear-gradient(180deg,rgba(0, 0, 0, .4) 50%, rgba(0, 0, 0, 0) 100%);
        padding:2rem;
        text-align: end;

        h3 {
            font-family: $headFont;
        }
    }

}

#cardsWrapper {
    .card {
        margin: 2rem;
        max-width: 400px;
        justify-self: center;
        border-radius: 5px;
        box-shadow: 0px 0px 5px 5px rgb(222, 222, 222);
        padding: 0;
        padding-bottom: .5rem;
       
        h3 {
            text-align: center;
            background: $gradientColor;
            padding: 1rem;
            margin: 0;
            border-radius: 5px 5px 0 0;
            color: white;
        }
        img {
            width: 100%;
            height: auto;
            display: block;
            margin: 0;
        }
        ul {
            li {
                margin: 1rem;
                margin-left:0 ;
            }
        }
    }
}

.clients {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.client {
    width: 200px;
    padding: 1rem;
    padding: 1rem;
    margin: 1rem;
    
    img {
        width: 100%;;
        height: auto;
    }
}

/* --------------------------- FOOTER --------------------------- */
#footerWrapper {
    background-color: $primaryColor
} // end footer wrapper

footer {
    font-size: .85rem;
    padding: 1rem $gutter;
    color: white;
    text-align: center;
    line-height: $leading;
    a {
        color: white;
        font-weight: 700;
        font-size: 1.5rem;
        text-decoration: none;
    }

    .locations {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .location {
            margin: auto;
            width: auto;
            h3 {
                margin-bottom: .25rem;
                text-align: left;
            }
            address {
                display: block;
                margin-left: 1rem;
                text-align: left;
            }
        }
    }
}// end footer