/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*  Apply a natural box layout model to all elements  */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} // end all elements


/* --------------------------- BODY --------------------------- */
body {
    font-family: $defaultFont;
    font-weight: $lightWeight;
    min-width: 320px;
    max-width: 100%;
}


/* --------------------------- HEADER --------------------------- */
#headerWrapper {border-bottom: 1px solid $greyColor;}
header {
    display: grid;
    grid-template-columns: 50px auto 44px;
    column-gap: $gutter;
    align-items: center; //vertically
    padding: .5rem $gutter;
    span {
        font-size: 1.6rem;
        font-weight: $lightWeight;
        color: $primaryColor;
    }
    p {
        margin: 0;
        font-size: .8rem;
        color: #777;
    }
} // end header


/* --------------------------- NAVIGATION STUFF GOES HERE --------------------------- */
#hamburgerBtn {
    position: relative;
    height: 44px;
    width: 44px;
    cursor: pointer;
    
    .top, .bottom {
        position: absolute;
        height: 2px;
        background-color: #777;
        width: 50%;
        left: 25%;
        transition: all .3s ease;
    }

    .top {
        top: 33%;
    }
    .bottom {
        top: 62%;
    }
}

#hamburgerBtn.open {
    .top {
        transform: rotate(45deg);
        top: 48%;
        width: 60%;
        left: 20%;
    }
    .bottom {
        transform: rotate(-45deg);
        top: 48%;
        width: 60%;
        left: 20%;
    }
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
    li a {
        color: $primaryColor;
        display: block;
        padding: .75rem $gutter;
        text-decoration: none;
        border-bottom: 1px solid $greyColor;
    }
    li.active a {
        color: $secondaryColor;
    }
}

nav ul.open {
    display: block;
}










/* --------------------------- MAIN --------------------------- */
main {
    h1 {
        padding: 1rem $gutter.5rem $gutter;
        font-size: 1.5rem;
        color: $secondaryColor;
        font-weight: $lightWeight
    }
    p {
        padding: .5rem $gutter;
        color: #333;
        line-height: $leading;
    }
}// end main

.hero {
    position: relative;
    video {
        width: 100%;
        height: auto;
    }
    div {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        color: white;
        background: linear-gradient(180deg,rgba(0, 0, 0, .4) 50%, rgba(0, 0, 0, 0) 100%);
        padding:2rem;
    }

}

// FLIP CARD STUFF HERE
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin: 1rem auto;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.3s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: $primaryColor;
    color: white;
    transform: rotateY(180deg);

    h2 {
        color: white;
    }

    p {
        color: white;
    }

    button {
        border-style: none;
        border-radius: 4px;
        padding: .3rem .5rem;
        width: 200px;
        background-color: $accentColor;
        color: black;
    }
  }

  .flip-card-front img {
    width: 100%;
    height: auto;
  }

/* --------------------------- FOOTER --------------------------- */
#footerWrapper {
    background-color: $primaryColor
} // end footer wrapper

footer {
    font-size: .85rem;
    padding: 1rem $gutter;
    color: white;
    text-align: center;
    line-height: $leading;
    a {color: $greyColor;}
}// end footer