$primaryColor: #A22E0B; 
$secondaryColor: #AC114F;
$accentColor: #ffd613;
$greyColor: #ccc;
$gradientColor: linear-gradient(to right, #e92773 0%, #f5945c 100%);

$headFont: "Sofia", cursive;
$defaultFont:"Source Sans 3", sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;