$primaryColor: #005885; 
$secondaryColor: #ff5385;
$accentColor: #ffd613;
$greyColor: #ccc;

$defaultFont:"Sansation", sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;